/* color palette */
/* 1a1b25 */
/* ffdab9 */

/* ***************serif fonts ********************************* */
/* font-family: 'IM Fell English SC', serif; */
/* 400 regular */

/* font-family: 'Rye', cursive; */
/* 400 regular */

/* font-family: 'Vollkorn SC', serif; */
/* 400 regular */

/* ************************ san serif fonts ****************************************** */
/* font-family: 'Montserrat', sans-serif; */
/* 400 regular, 300 light */

/* font-family: 'Quicksand', sans-serif; */
/* 400 regular */

/* font-family: 'Kumbh Sans', sans-serif; */
/* 400 regular, 300 light */

/* *************** Global *************** */
/*
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://css-tricks.com/inheriting-box-sizing-proaly-slightly-bbetter-best-practice/
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #1a1b25;
    text-align: center;
    margin: 0;
}

/* set up for mobile screen */
.grid {
    padding: 0;
    margin: 0;
    background-color: #1a1b25;
    display: grid;
    grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five';
}

.grid-item-4 {
    background-color: #ffdab9;
}

/* Heading */
h1 {
    font-family: 'Vollkorn SC', serif;
    font-size: 60px;
    color: #ffdab9;
    line-height: 1.0;
    padding: 40px 10px 10px 10px;
    margin: 0;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #ffdab9;
    padding: 10px;
    margin: 0; 
    line-height: 1.0; 
}
hr {
    color: #ffdab9;
}
/* Navigation */
nav {
    background: #1a1b25;
    color: #ffdab9;
    padding: 0;
    margin: 0;
}
nav .navbar {
    margin: 0 auto;
    padding: 10px 0;
}
nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
}
nav ul li {
    position: relative;
    font: bold 16px 'Montserrat', sans-serif;
    width: 120px;
    padding: 10px 20px;
    cursor: pointer;
}
nav ul li:hover {
    background-color: #ffdab9;
    text-decoration-line: underline;
    text-decoration-color: #1a1b25;
    text-decoration-style: solid;
    border-radius: 10px;
    text-decoration-thickness: 2px;
    color: #1a1b25;
}
nav ul li ul {
    position: absolute;
    top: 48px;
    left: -2000px;
    padding-left: 140px;
    margin-top: -48px;
}
nav ul li ul li {
    background-color: #ffdab9;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding-top: 12px; 
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font: normal 14px 'Montserrat', sans-serif;
}
nav ul li ul li:hover {
    background: white;
}
nav ul li:hover ul {
    display: block;
    left: 0px;
}
/*  nav */




/* .hamburger-menu {
    display: inline-flex;
    color: #ffdab9;
    padding: 10px;   
}
label {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;  
} */

/* Portfolio */
h3 {
    font-family: 'Vollkorn SC', serif;
    color: #1a1b25;
    font-size: 40px;
    background-color: #ffdab9;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}
h4 {
    color: black;
    font-size: 28px;
    padding: 10px;
    margin: 0;
}
img {
    padding: 10px;
    width: 80%;
}
/* Footer */
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffdab9;
    padding: 20px 10px 20px 10px;
    margin: 0;
}
address {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #ffdab9;
    padding: 30px 10px 20px 10px;
    margin: 0;
}
.grid-item-5 img {
    width: 50px;
}
a {
    color: #ffdab9;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/* media queries */

/* large screen should have grid stacked with two column right side panel */
@media (min-width: 750px) {
    h1 {
        font-size: 72px;      
    }
    h2 {
        font-weight: 400;
        font-size: 36px;      
    }
    .grid {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-areas:
            'one four'
            'two four'
            'three four'
            'five four';
    } 
    .grid-item-4 {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 5;
        background-color: #ffdab9;
        display: grid;
        gap: .5rem;
        grid-template-areas:
        'one two three'
        'four five six'
        'seven eight nine';
    }
    .grid-item-2.navbar {
        font-family: 'Quicksand', sans-serif;
        font-size: 21px;
        font-weight: 300;
        color: #ffdab9;
        list-style: none; 
        padding: 10px;
        margin: 0;
    }
    nav ul {   
        text-align: center;   
    }
    nav ul li {
        display: inline;
    }
    nav ul li ul {
        top: 85px;
        padding-left: 0px;  
    }
    nav ul li ul li {
        display: block;
    }
}


/* screen size medium with grid should be stacked, grid-item-4 should be single stack */
/* @media (min-width: 550px) {
    .grid {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-areas:
            'one four'
            'two four'
            'three four'
            'five four';
    }

    .grid-item-4 {
        grid-template-areas:
        'one'
        'two'
        'three'
        'four';
    }   
} */

